* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to bottom right, #eee, #ddd);
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  width: 100vw;
  height: 100vh;

  position: relative;
}

.title {
  font-family: 'Yatra One', sans-serif;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 3rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}

#grid-container {
  width: 80vh;
  height: 80vh;
  border: 3px solid #333;
  box-sizing: 0 0 5px rgba(0, 0, 0, 0.3);

  display: grid;
}

.grid-square {
  background-color: #fff;
  /* border: 0.5px solid #efefef; */
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  background-color: #fff;
  border: 3px solid #333;
  padding: 2rem;
  width: 40rem;
}

.control-title {
  text-transform: uppercase;
  font-weight: 600;
}

.control-inputs-container {
  width: 100%;
  text-align: center;
}

.control-input-range {
  width: 100%;
}

.btn {
  width: 100%;
  padding: 1rem;
  font: inherit;
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #444;
  transform: scale(1.01);
}
