* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to bottom right, #eee, #ddd);
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  width: 100vw;
  height: 100vh;

  position: relative;
}

.title {
  font-family: 'Yatra One', sans-serif;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 3rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}

#grid-container {
  width: 80vh;
  height: 80vh;
  border: 3px solid #333;
  box-sizing: 0 0 5px rgba(0, 0, 0, 0.3);

  display: grid;
}

.grid-square {
  background-color: #fff;
  /* border: 0.5px solid #efefef; */
  transition: all 0.3s;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  background-color: #fff;
  border: 3px solid #333;
  padding: 2rem;
  width: 40rem;
}

.control-title {
  text-transform: uppercase;
  font-weight: 600;
}

.control-inputs-container {
  width: 100%;
  text-align: center;
}

.control-input-range {
  width: 100%;
}

.radio-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.input-mode {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.circle-mode {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.circle-mode::before {
  content: '';
  width: 7.5rem;
  height: 7.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: absolute;
  border: 5px solid #333;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 0;
}

.input-mode:checked ~ .circle-mode::before {
  opacity: 1;
}

.circle-pick {
  background-color: #333;
}

.circle-random {
  background-image: conic-gradient(
    rgb(255, 134, 134),
    rgb(134, 255, 134),
    rgb(134, 134, 255),
    rgb(255, 134, 134)
  );
}

.circle-shade {
  background-image: conic-gradient(black, white, black, white, black);
}

.circle-eraser {
  border: 1px solid #333;
}

.text-mode {
  font-size: 1.5rem;
  text-align: center;
}

.picker-mode {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 7rem;
  height: 7rem;
  border: none;
  cursor: pointer;
  z-index: 100;
  position: relative;
  visibility: hidden;
}

.picker-mode::-webkit-color-swatch-wrapper {
  padding: 0;
}

.picker-mode::-moz-focus-inner {
  border: none;
  padding: 0;
}

.picker-mode::-webkit-color-swatch {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
}
.picker-mode::-moz-color-swatch {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
}

.btn {
  width: 100%;
  padding: 1rem;
  font: inherit;
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
  transform: scale(1.01);
}

.btn:active {
  transform: scale(0.98);
  background-color: #333;
}
